fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv


openai
google-genai

langchain
langchain-openai
langchain-google-genai

llama-index
llama-index-llms-openai-like
llama-index-llms-google-genai


httpx
pytest
ruff
